@font-face {
    font-family: "Ronallatie";
    src: url("~assets/fonts/Ronallatie.ttf");
}

@font-face {
    font-family: "Menthol Signature";
    src: url("~assets/fonts/Menthol-Signature.ttf");
}

@font-face {
    font-family: "Sacramento";
    src: url("~assets/fonts/Sacramento-Regular.ttf");
}

@font-face {
  font-family: "Vogue";
  src: url("~assets/fonts/Vogue.ttf");
}

@font-face {
  font-family: "Tosca Beauty";
  src: url("~assets/fonts/Tosca-Beauty.ttf");
}

@font-face {
  font-family: "Kensington";
  src: url("~assets/fonts/Kensington.ttf");
}

@font-face {
  font-family: "Kensington Extra";
  src: url("~assets/fonts/Kensington Extra.ttf");
}

@font-face {
  font-family: "Canvas";
  src: url("~assets/fonts/Canvas.otf");
}

.container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .title {
    font-family:
      'Quicksand',
      'Source Sans Pro',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      sans-serif;
    display: block;
    font-weight: 300;
    font-size: 55px;
    color: #35495e;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 25px 0;
  }
  
  .subtitle {
    font-weight: 300;
    font-size: 1.1rem;
    color: #526488;
    word-spacing: 2px;
    padding-bottom: 15px;
    max-width: 600px;
  }
  
  .subtitle a {
    font-weight: 500;
    color: inherit;
  }
  
  .links {
    padding-top: 15px;
    margin-bottom: 20px;
  }
  
  .content-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 500px;
  }
  
  .plus {
    font-size: 2.5rem;
    margin: 15px;
    color: #35495e;
  }
  
  .h3 {
    font-family:
      'Quicksand',
      'Source Sans Pro',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      sans-serif;
    font-weight: 400;
    margin: 10px;
  }